---
apiVersion: v1
kind: Service
metadata:
  name: becpg-transform-markdown
  labels:
    app: becpg-transform-markdown
    instance: dev
spec:
  type: ClusterIP
  ports:
    - port: 8090
      targetPort: 8090
  selector:
    app: becpg-transform-markdown
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: becpg-transform-markdown
  labels:
    app: becpg-transform-markdown
    instance: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: becpg-transform-markdown
  template:
    metadata:
      labels:
        app: becpg-transform-markdown
        instance: dev
    spec:
      containers:
        - name: becpg-transform-markdown
          image: europe-west1-docker.pkg.dev/becpg-314807/becpg-docker/becpg-transform-markdown:latest        
          securityContext:
            runAsNonRoot: true
            runAsUser: 33002
            runAsGroup: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            seccompProfile:
              type: RuntimeDefault
          ports:
            - containerPort: 8090
          env:
            - name: JAVA_OPTS
              value: " -Xms512m -Xmx512m"
          resources:
            requests:
              memory: "1000Mi"
            limits:
              memory: "1500Mi"
          startupProbe:
            httpGet:
              path: /live
              port: 8090
            failureThreshold: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /live
              port: 8090
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 8090
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 10
